* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12.5px;
    min-height: 0;
}

window.bar {
    background-color: transparent;
    color: @theme_fg_color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
}
.workspaces button {
    padding:0 5px 0 5px;
    background-color: transparent;
    border-radius: 0;
}
.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
}

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
